body {
  background-color: #000;
   /* font-family: "IBMPlexSans-Regular", sans-serif !important; */
    color: #D1D5DB !important;
}


/* .text-urbanist-medium{
  font-family: "Urbanist-Medium", sans-serif !important;
} */

.bg-grey {
 background-color: #121118;
}

/*button css*/

/* .bg-primary {
  background-color: #7f36ec;
  color:white;
} */

.text-primary {
  color: #b79af3;
}

/*button css*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
